
.bg-navbar {
    background-color: #0277bd;
}

.bg-card {
    background-color: whitesmoke;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 13px;
    padding-left: 13px;
    font-size: 18px;
    font-family: OpenSans-Bold;
    color: whitesmoke;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item:focus, .navbar-light .navbar-nav .nav-item:hover {
    color: #1b5a8d;
}

.banner_title {
    width: 100%;
    font-size: 35px;
    font-family: OpenSans-Bold;
    color: #444444;
    margin-left: 0px;
    text-align: center;
    text-shadow: 2px 2px whitesmoke;
}

.banner_text {
    width: 100%;
    font-size: 25px;
    font-family: OpenSans-Light;
    color: #232323;
    margin-left: 0px;
    text-align: center;
    text-shadow: 2px 2px whitesmoke;
}

.card_title {
    font-family: OpenSans-Bold;
    color: #01579b;
    text-align: center;
    font-weight: bolder;
}

.card_text {
    font-family: OpenSans-Light;
    font-size: 15px;
}