<html>
<head>
    <title>About us</title>>
</head>
<body>
    <div class="container" style="padding-top:3em;">
        <div class="row my-3">
            <h1 class="banner_title">Meet the Team</h1>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                    <img src="~/images/wenhao_photo.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Wenhao Lu</h5>
                        <div class="card-text text-black-50">Master of Information Technology</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                    <img src="~/images/yingqi_photo.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Yingqi Zhang</h5>
                        <div class="card-text text-black-50">Master of Business Information System</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                    <img src="~/images/vansh_photo.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Vansh Jain</h5>
                        <div class="card-text text-black-50">Master of Business Information System</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 4 -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                    <img src="~/images/nancy_photo.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Nandin-Erdene Batsaikhan</h5>
                        <div class="card-text text-black-50">Master of Data Science</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</body>
</html>