<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>

<body>
    <!-- <div class="slider_area">
         <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-9">
                         <div class="slider_text ">
                             <h3>
                                 Welcome to Foodary
                             </h3>
                             <p>
                                 We care you food security <br>
                                 We are here for help
                             </p>
                             <a href="About.html" class="boxed-btn3">
                                 Learn More
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>-->
    <div>
        <img src="~/images/home_cover3.jpg">
    </div>
    <div class="container">
        <div class="row my-3">
            <br />
            <h0 class="banner_title">We care your food security</h0>
            <!---<h1 class="banner_text">We care your food insecurity</h1>-->
        </div>
        <div class="row my-3">
            <div class="col-md-4 py-1">
                <div class="card bg-card h-100">
                    <div class="card-body">
                        <div class="card_text">
                            <div>
                                <img src="~/images/ana1.png" style="width: 100%">
                            </div>
                            <!--<p class="card_text">&#9642; The ability to buy and transport food</p>
                            <p class="card_text">&#9642; Preparation and cooking facilities</p>
                            <p class="card_text">&#9642; Knowledge and skills to make appropriate choices</p>
                            <p class="card_text">&#9642; Time and mobility to shop for and prepare food</p> -->
                        </div>

                        <h2 class="card_title">
                            <a href="~/Home/Map">FOOD ACCESS</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card bg-card h-100">
                    <div class="card-body">
                        <div class="card_text">
                            <div>
                                <img src="~/images/ana2.png" style="width: 100%">
                            </div>
                            <h2 class="card_title">
                                <a href="~/Home/SELF-TEST">TEST NOW</a>
                            </h2>
                            <!-- <div class="card_text">
                                <p class="card_text">&#9642; Location of food outlets</p>
                                <p class="card_text">&#9642; Availability of food within stores</p>
                                <p class="card_text">&#9642; Price, quality and variety of available food</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card bg-card h-100">
                    <div class="card-body">
                        <div class="card_text">
                            <div>
                                <img src="~/images/ana3.png" style="width: 100%">
                            </div>
                            <h2 class="card_title">
                                <a href="~/Home/Recipe">FOOD USE</a>
                            </h2>
                            <!--<div>
                                <p class="card_text">&#9642; Secure </p>
                                <p class="card_text">&#9642; Insecure but without hunger</p>
                                <p class="card_text">&#9642; Insecure with extreme hunger</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            @*<p>
                    Source:
                    <a href="https://aifs.gov.au/cfca/publications/food-insecurity-australia-what-it-who-experiences-it-and-how-can-child">
                        https://aifs.gov.au/cfca/publications/food-insecurity-australia-what-it-who-experiences-it-and-how-can-child
                    </a>
                </p>*@
        </div>
        <br />
        <div class="row my-3">
            <h1 class="banner_text">Food insecurity: Is it an issue among international students?</h1>
            <div class="col-md-12 py-1">
                <div class="card bg-card">
                    <div class="card-body">
                        <p class="card_text">&#9642; International students are not fully aware of the food expenditure before they come to Australia.</p>
                        <p class="card_text">&#9642; Less availability and higher price of their traditional foods lead them to choose cheaper and less nutritious food.</p>
                        <p class="card_text">&#9642; New international students are not familiar with food places and struggling with their study. Thus, they tend to skip their meals. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <h1 class="banner_text">It is better to be aware of food expenditure before you come to Australia!</h1>
        </div>
        <div class="row my-3">
            <div class="col-md-12 py-1">
                <div class="card bg-card">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <script type='text/javascript'>var divElement = document.getElementById('viz1598827025564'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.minWidth = '1620px'; vizElement.style.maxWidth = '1920px'; vizElement.style.width = '100%'; vizElement.style.minHeight = '587px'; vizElement.style.maxHeight = '887px'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.minWidth = '1620px'; vizElement.style.maxWidth = '1920px'; vizElement.style.width = '100%'; vizElement.style.minHeight = '587px'; vizElement.style.maxHeight = '887px'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '827px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
        </div>
    </div>
</body>
</html>

<style>
    h2 {
        font-size: 26px;
        margin: 0.67em 0;
    }
</style>


